button {
    position: relative;
  }
  
  #count {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
  }
  
  #logo {
    width: 200px;
    height: 200px;
    background-image: url('../assets/holberton-logo.jpg');
    background-size: 200px 200px;
  }